# SuperCrafting config

# Main menu
main-menu: 'Ender Forge'

#Registered blocks, sorted per world
forge:
  world: world
  x: 0
  y: 0
  z: 0
  
# Menu layout
menus:
  'Ender Forge':
    items:
#     Slot - max slot is 26 (including slot 0)
      '14':

#       Icon item id
        icon: 280

#       Icon title
        icon-name: '&cIts a stiiick'

#       menu|nameofmenu or item|itemname
#       Items must be registered in the recipes, with "itemname.yml"
#       Submenus are registered like this one
        link: menu|stick

# Another menu
  'stick':
    items:
      '0':
        icon: 280
        icon-name: '&6Default'
        link: item|supertool
      
#     For other menus, you can specify a parent
#     This would (if not used) enable the 'back' slot (slot 18)
#     Defaults to the main menu
    parent: 'Ender Forge'
